@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");
body {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  padding: 14px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__item {
  margin-left: 40px;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.nav__item:first-child {
  margin-left: 0px;
}

.nav__item:hover {
  font-weight: 700;
  text-shadow: 5px 1px 5px #FFFFFF;
}

.nav__link {
  font-size: 15px;
  line-height: 19px;
}

.offer {
  min-height: 100vh;
  background-color: #010032;
  padding-top: 120px;
}

.title__main {
  max-width: 600px;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  margin-bottom: 35px;
}

.offer__subtitle {
  max-width: 540px;
  font-size: 22px;
  line-height: 34px;
  color: #FFFFFF;
  margin-bottom: 35px;
}

.offer__btn {
  max-width: 200px;
  margin-bottom: 100px;
}

.btn__link {
  display: inline-block;
  line-height: 25px;
  text-align: center;
  background-color: white;
  padding: 20px 40px;
  border-radius: 32px;
}

.btn__link:hover {
  font-size: 19px;
  background-color: #955a07;
}

.btn__img {
  padding-left: 15px;
}

.offer__suptitle {
  max-width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sup__images {
  margin-right: 24px;
}

.sup__text_1 {
  line-height: 26px;
  color: #FFFFFF;
}

.sup__text_2 {
  font-size: 15px;
  line-height: 22px;
  color: #9898ac;
}

.main__image {
  position: absolute;
  top: 1;
  right: 100px;
  bottom: 0;
}
