// Fonts (Epilogue, 400)
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

// colors
$white: #FFFFFF;
$black: #000000;
$violet: #4543E8;
$blue: #010032;

// Container max width
$containerMaxWidth: 1280px;

body {
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: $black;
}

.container {
    max-width: $containerMaxWidth + 40;
    margin: 0 auto;
    padding: 0 20px;
}

// Main code scss

// Header Component